# Django settings
account/account/settings.py
problem/problem/settings.py

# Python bytecode
__pycache__/
*.pyc

# Database
db.sqlite3

# Media files
media/

# Virtual environment
venv/
env/

# Logs
*.log

# Translation files
*.pot
*.mo

#environmental variables
.env